#admin-login-form{
  background-color: lightgreen;
  padding: 3rem;
  margin-inline: 10rem;
}

#admin-email-group{
  margin-inline: 3rem;
  margin-bottom: 1rem;
}

#admin-password-group{
  margin-inline: 3rem;
  margin-bottom: 1rem;
}

#admin-login-button{
  background-color: chocolate;
  padding-inline: 3rem;
}

#admin-login-button:hover{
  background-color: coral;
}

#admin-login-container{
  background-color: lightgray;
  padding: 3rem;
}

#admin-logout-button{
  background-color: chocolate;
  padding-inline: 3rem;
  margin-bottom: 2rem;
}

#admin-logout-button:hover{
  background-color: coral;
}

#admin-register-container{
  background-color: lightgray;
  padding: 3rem;
}

#admin-register-button{
  background-color: goldenrod;
  padding-inline: 3rem;
}

#admin-register-button:hover{
  background-color: darkgoldenrod;
  padding-inline: 3rem;
}

#admin-back-button{
  background-color: red;
  padding-inline: 3rem;
  margin-bottom: 2rem;
}

#admin-back-button:hover{
  background-color: darkred;
  padding-inline: 3rem;
  margin-bottom: 2rem;
}

#admin-list-container{
  background-color: lightsalmon;
  padding: 3rem;
}

#admin-update-button{
  background-color: darkseagreen;
}

#admin-update-button:hover{
  background-color: darkgreen;
}

#admin-delete-button{
  background-color: deeppink;
}

#admin-delete-button:hover{
  background-color: darkmagenta;
}

#admin-email2-group{
  margin-bottom: 1rem;
}

#admin-password2-group{
  margin-bottom: 1rem;
}

#admin-name-group{
  margin-bottom: 1rem;
}
