#user-login-form{
  background-color: bisque;
  padding: 3rem;
  margin-inline: 10rem;
}

#user-email-group{
  margin-inline: 3rem;
  margin-bottom: 1rem;
}

#user-password-group{
  margin-inline: 3rem;
  margin-bottom: 1rem;
}

#user-link-group{
  margin-inline: 3rem;
  margin-top: 1rem;
}

#login-submit-button{
  background-color: chocolate;
  padding-inline: 3rem;
}

#login-submit-button:hover{
  background-color: coral;
}

#user-profile-container{
  background-color: coral;
  padding: 3rem;
}

#user-logout-button{
  background-color: red;
  padding-inline: 3rem;
}

#user-logout-button:hover{
  background-color: darkred;
}

#update-container{
  background-color: coral;
  padding: 3rem;
  margin-bottom: 3rem;
}

#user-update-button{
  background-color: darkslateblue;
  padding-inline: 3rem;
}

#user-update-button:hover{
  background-color: navy;
  padding-inline: 3rem;
}

#user-delete-button{
  background-color: goldenrod;
  padding-inline: 3rem;
}

#user-delete-button:hover{
  background-color: darkgoldenrod;
  padding-inline: 3rem;
}

#register-back-button{
  background-color: red;
  padding-inline: 3rem;
  margin-bottom: 2rem;
}

#register-button{
  background-color: red;
  padding-inline: 3rem;
  margin-bottom: 2rem;
}

#register-picture{
  width: 20rem;
  height: auto;
}

#update-picture{
  width: 20rem;
  height: auto;
}

#update-userpicture{
  width: 20rem;
  height: auto;
}

#update-back-button{
  background-color: red;
  padding-inline: 3rem;
  margin-bottom: 2rem;
}

#name-group{
  margin-bottom: 1rem;
}

#lastname-group{
  margin-bottom: 1rem;
}

#email-group{
  margin-bottom: 1rem;
}

#address-group{
  margin-bottom: 1rem;
}

#telephone-group{
  margin-bottom: 1rem;
}

#password-group{
  margin-bottom: 1rem;
}
